<footer>
  <div class="py-4">
    <!-- <picture>
    <source media="(max-width: 992px)" srcset="/assets/photo/header/Logo.svg" />
    <img
      src="/assets/photo/header/Logo-lg.svg"
      alt="logo"
      class="img-fluid object-fit-cover"
    />
  </picture>
  <ul class="">
    <li>
      <a class="" href="about.html"
        >關於我們</a
      >
    </li>
    <li class>
      <a class="" href="">
        線上商城
      </a>
    </li>

    <li class="mt-2">
      <a class="nav-link text-neutral-950 py-3 px-4" href="#">常見問題</a>
    </li>
  </ul>
  --></div>
  <div class="py-3 d-flex justify-content-center align-items-center">
    <p>110 台北市信義區照護路25巷18號86樓</p>
    <p>With your life © All Rights Reserved.</p>
  </div>
</footer>
