<footer>
  <div class="d-flex flex-column align-items-center py-4 background-blur-8">
    <picture class="mb-2">
      <source
        media="(max-width: 992px)"
        srcset="/assets/photo/header/Logo.svg"
      />
      <img
        src="/assets/photo/header/Logo-lg.svg"
        alt="logo"
        class="img-fluid object-fit-cover"
      />
    </picture>
    <ul class="list-unstyled d-flex justify-content-center gap-2 m-0">
      <li class="px-2 py-3 px-lg-3 py-lg-4 fs-7 fs-lg-6">
        <a class="text-neutral-950" href="about.html">關於我們</a>
      </li>
      <li class="px-2 py-3 px-lg-3 py-lg-4 fs-7 fs-lg-6">
        <a class="text-neutral-950" href=""> 線上商城 </a>
      </li>
      <li class="px-2 py-3 px-lg-3 py-lg-4 fs-7 fs-lg-6">
        <a class="text-neutral-950" href="#">常見問題</a>
      </li>
    </ul>
  </div>

  <div
    class="bg-background-01 container py-3 d-flex flex-column flex-lg-row justify-content-lg-between align-items-center"
  >
    <p class="fs-7 text-neutral-400 mb-1">110 台北市信義區照護路25巷18號86樓</p>
    <p class="fs-7 text-neutral-400">With your life © All Rights Reserved.</p>
  </div>
</footer>
