<!-- nav 尚未登入 -->
<nav class="navbar fixed-top my-lg-4 my-2">
  <div
    class="container py-3 px-4 py-lg-3 ps-lg-6 pe-lg-3 bg-background-02 rounded-40 border-neutral-0 shadow-header"
  >
    <div class="d-flex align-items-center justify-content-between w-100">
      <!-- 左邊 -->
      <div class="d-lg-flex align-items-center">
        <!-- 品牌logo -->
        <a class="navbar-brand me-lg-4" href="index.html">
          <picture>
            <source
              media="(min-width: 992px)"
              srcset="/assets/photo/header/Logo-lg.svg"
            />
            <img
              src="/assets/photo/header/Logo.svg"
              alt="logo"
              class="img-fluid object-fit-cover"
            />
          </picture>
        </a>
        <!-- 桌機版搜尋欄 -->
        <form class="position-relative d-none d-lg-block">
          <span
            class="material-symbols-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ms-3 text-neutral-600"
          >
            search
          </span>
          <input
            type="search"
            class="form-control py-3 ps-9 border-neutral-200 border-2 rounded-100 bg-neutral-0 text-neutral-600 fs-6 min-w-300"
            id="header-search"
            placeholder="有哪些輪椅有補助？"
          />
        </form>
      </div>
      <!-- 右邊 -->
      <div class="d-flex align-items-center">
        <!-- 選單 -->
        <ul
          class="navbar-nav d-lg-flex flex-row align-items-center me-3 d-none"
        >
          <li class="nav-item px-4">
            <a class="nav-link text-neutral-950 text-nowrap" href="about.html"
              >關於我們</a
            >
          </li>
          <li class="nav-item px-4 dropdown position-static">
            <a
              class="nav-link dropdown-toggle text-neutral-950 text-nowrap"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              線上商城
            </a>
            <ul
              class="dropdown-menu nav-online bg-background border border-neutral-0 p-3"
              aria-labelledby="navbarDropdown"
            >
              <li class="mb-1">
                <a class="dropdown-item" href="product.html">
                  <div
                    class="d-flex justify-content-between align-items-center px-4 py-3 w-296"
                  >
                    <p class="text-neutral-950">行動協助</p>
                    <p class="fs-7 text-neutral-800">輪椅、拐杖、助行器</p>
                  </div>
                </a>
              </li>
              <li class="mb-1">
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3 w-296"
                  >
                    <p class="text-neutral-950">用餐照護</p>
                    <p class="fs-7 text-neutral-800">用餐輔具、飲水輔具</p>
                  </div></a
                >
              </li>
              <li class="mb-1">
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3 w-296"
                  >
                    <p class="text-neutral-950">如廁便利</p>
                    <p class="fs-7 text-neutral-800">止滑墊、馬桶加高軟墊</p>
                  </div></a
                >
              </li>
              <li class="mb-1">
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3 w-296"
                  >
                    <p class="text-neutral-950">洗浴安全</p>
                    <p class="fs-7 text-neutral-800">
                      充氣式床上洗頭槽、洗澡刷
                    </p>
                  </div></a
                >
              </li>
              <li>
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3 w-296"
                  >
                    <p class="text-neutral-950">補助分類</p>
                    <p class="fs-7 text-neutral-800">政府最新補助商品</p>
                  </div></a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link text-neutral-950 text-nowrap" href="#"
              >常見問題</a
            >
          </li>
        </ul>
        <a href="cart.html">
          <span
            class="material-symbols-outlined text-primary-500 p-3 align-bottom me-lg-2"
          >
            shopping_cart
          </span>
        </a>
        <!-- 手機版 -->
        <button
          type="button"
          class="btn btn-outline-primary-500 btn-sm bg-neutral-0 text-primary-500 fw-semibold btn d-lg-none"
          data-bs-toggle="modal"
          data-bs-target="#login"
        >
          登入/註冊
        </button>
        <!-- 桌機版 -->
        <button
          type="button"
          class="btn btn-outline-primary-500 bg-neutral-0 text-primary-500 fw-semibold btn d-none d-lg-block text-nowrap"
          data-bs-toggle="modal"
          data-bs-target="#login"
        >
          登入/註冊
        </button>
        <!-- 響應式漢堡選單 -->
        <button
          class="navbar-toggler d-lg-none border-0 p-3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav-collapse"
        >
          <span class="material-symbols-outlined text-primary-500">
            dehaze
          </span>
        </button>
      </div>
    </div>
  </div>
  <!--  響應式選單內容 -->
  <div class="container">
    <div
      class="w-100 py-4 px-3 m-2 bg-background collapse hamburger-menu shadow-header rounded-40 overflow-x-hidden"
      id="nav-collapse"
    >
      <div>
        <!-- 搜尋欄 -->
        <form class="position-relative mb-6">
          <span
            class="material-symbols-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ms-3 text-neutral-600"
          >
            search
          </span>
          <input
            type="search"
            class="form-control py-3 ps-9 border-neutral-200 border-2 rounded-100 bg-neutral-0 text-neutral-600 fs-6 w-100"
            id="header-search"
            placeholder="有哪些輪椅有補助？"
          />
        </form>
        <!-- 選單 -->
        <ul class="list-unstyled">
          <li>
            <a class="nav-link text-neutral-950 py-3 px-4" href="about.html"
              >關於我們</a
            >
          </li>
          <li class="mt-2 border-top">
            <a
              class="py-3 px-4"
              data-bs-toggle="collapse"
              href="#navbar-collapse"
            >
              線上商城
            </a>
            <ul
              class="collapse list-unstyled bg-primary-100 rounded-20 mb-4"
              id="navbar-collapse"
              aria-labelledby="navbarDropdown"
            >
              <li>
                <a class="dropdown-item" href="product.html">
                  <div
                    class="d-flex justify-content-between align-items-center px-4 py-3"
                  >
                    <p class="text-neutral-950">行動協助</p>
                    <p class="fs-7 text-neutral-800">輪椅、拐杖、助行器</p>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3"
                  >
                    <p class="text-neutral-950">用餐照護</p>
                    <p class="fs-7 text-neutral-800">用餐輔具、飲水輔具</p>
                  </div></a
                >
              </li>
              <li>
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3"
                  >
                    <p class="text-neutral-950">如廁便利</p>
                    <p class="fs-7 text-neutral-800">止滑墊、馬桶加高軟墊</p>
                  </div></a
                >
              </li>
              <li>
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3"
                  >
                    <p class="text-neutral-950">洗浴安全</p>
                    <p class="fs-7 text-neutral-800">
                      充氣式床上洗頭槽、洗澡刷
                    </p>
                  </div></a
                >
              </li>
              <li>
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3"
                  >
                    <p class="text-neutral-950">補助分類</p>
                    <p class="fs-7 text-neutral-800">政府最新補助商品</p>
                  </div></a
                >
              </li>
            </ul>
          </li>
          <li class="mt-2 border-top">
            <a class="nav-link text-neutral-950 py-3 px-4" href="#">常見問題</a>
          </li>
          <li class="mt-2">
            <a class="nav-link text-neutral-950 py-3 px-4" href="#">會員中心</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- 登入Modal -->
<div
  class="modal fade rounded-header-modal shadow-header border-0"
  id="login"
  tabindex="-1"
  aria-labelledby="login"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content overflow-hidden">
      <div class="modal-body p-0 d-flex">
        <!-- 左邊圖片 -->
        <div class="w-800 d-none d-lg-block">
          <img
            src="/assets/photo/header/login.svg"
            alt="登入"
            class="img-fluid object-fit-cover"
            style="height: 800px"
          />
        </div>
        <!-- 右邊文字 -->
        <div class="position-relative w-400">
          <button
            type="button"
            class="btn-close position-absolute top-0 end-0 m-7"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
          <div class="px-8">
            <h2 class="h2 mt-8 text-center fw-bold mb-8">登入</h2>
            <div class="border-bottom pb-5">
              <a
                href="#"
                type="button"
                class="btn btn-whihe border w-100 mb-4 d-flex align-items-center justify-content-center"
              >
                <img
                  src="/assets/photo/header/apple.svg"
                  alt="apple"
                  class="me-1"
                  style="width: 24px; width: 24px"
                />Apple
              </a>
              <a
                href="#"
                type="button"
                class="btn btn-whihe border w-100 mb-4 d-flex align-items-center justify-content-center"
              >
                <img
                  src="/assets/photo/header/google.svg"
                  alt="google"
                  class="me-1"
                  style="width: 24px; width: 24px"
                />Google
              </a>
              <a
                href="#"
                type="button"
                class="btn btn-whihe border w-100 d-flex align-items-center justify-content-center"
              >
                <img
                  src="/assets/photo/header/facebook.svg"
                  alt="facebook"
                  class="me-1"
                  style="width: 24px; width: 24px"
                />Facebook
              </a>
            </div>
            <div class="form-floating mt-5 mb-4">
              <input
                type="email"
                class="form-control"
                id="loginEmail"
                placeholder="帳號"
              />
              <label for="loginEmail" class="text-black">帳號</label>
            </div>
            <div class="form-floating">
              <input
                type="password"
                class="form-control"
                id="loginPassword"
                placeholder="密碼"
              />
              <label for="loginPassword" class="text-black">密碼</label>
              <a
                href="#"
                class="d-block form-text mt-4 text-end text-natural-50"
              >
                忘記密碼
              </a>
            </div>
            <button
              type="button"
              class="btn btn-primary-500 w-100 mt-4 d-flex align-items-center justify-content-center"
              data-bs-dismiss="modal"
            >
              登入<span class="material-symbols-outlined ms-1">
                chevron_right
              </span>
            </button>
            <p class="mt-8 text-natural-50 text-center fw-medium mb-lg-0 mb-10">
              不是會員？
              <a
                href="#"
                class="link-primary-500 text-decoration-underline"
                data-bs-target="#register"
                data-bs-toggle="modal"
                >快速註冊</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 註冊Modal -->
<div
  class="modal fade rounded-header-modal shadow-header border-0"
  id="register"
  tabindex="-1"
  aria-labelledby="login-enroll"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content overflow-hidden">
      <div class="modal-body p-0 d-flex h-100">
        <!-- 左邊文字 -->
        <div class="position-relative w-400">
          <button
            type="button"
            class="btn-close position-absolute top-0 end-0 m-5"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
          <div class="px-8">
            <h2 class="h2 mt-8 text-center fw-bold mb-8">註冊</h2>
            <div class="border-bottom pb-5">
              <a
                href="#"
                type="button"
                class="btn btn-whihe border w-100 mb-4 d-flex align-items-center justify-content-center"
              >
                <img
                  src="/assets/photo/header/apple.svg"
                  alt="apple"
                  class="me-1"
                  style="width: 24px; width: 24px"
                />Apple
              </a>
              <a
                href="#"
                type="button"
                class="btn btn-whihe border w-100 mb-4 d-flex align-items-center justify-content-center"
              >
                <img
                  src="/assets/photo/header/google.svg"
                  alt="google"
                  class="me-1"
                  style="width: 24px; width: 24px"
                />Google
              </a>
              <a
                href="#"
                type="button"
                class="btn btn-whihe border w-100 d-flex align-items-center justify-content-center"
              >
                <img
                  src="/assets/photo/header/facebook.svg"
                  alt="facebook"
                  class="me-1"
                  style="width: 24px; width: 24px"
                />Facebook
              </a>
            </div>
            <div class="form-floating mt-5 mb-4">
              <input
                type="email"
                class="form-control"
                id="registerEmail"
                placeholder="帳號"
              />
              <label for="registerEmail" class="text-black">帳號</label>
            </div>
            <div class="form-floating mb-4">
              <input
                type="password"
                class="form-control"
                id="registerPassword1"
                placeholder="密碼"
              />
              <label for="registerPassword1" class="text-black">密碼</label>
            </div>
            <div class="form-floating mb-4">
              <input
                type="password"
                class="form-control"
                id="registerPassword2"
                placeholder="確認密碼"
              />
              <label for="registerPassword2" class="text-black">確認密碼</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="iAgree"
              />
              <label class="form-check-label" for="iAgree">
                我同意
                <a href="#" class="link-primary-400 text-decoration-underline"
                  >服務條款</a
                >
                和
                <a href="#" class="link-primary-400 text-decoration-underline"
                  >隱私政策</a
                >
              </label>
            </div>

            <button
              type="button"
              class="btn btn-primary-500 w-100 mt-4 d-flex align-items-center justify-content-center"
              data-bs-dismiss="modal"
            >
              註冊<span class="material-symbols-outlined ms-1">
                chevron_right
              </span>
            </button>
            <p class="mt-8 text-natural-50 text-center fw-medium mb-xl-0 mb-10">
              已經會員？
              <a
                href="#"
                class="link-primary-500 text-decoration-underline"
                data-bs-target="#login"
                data-bs-toggle="modal"
                >直接登入</a
              >
            </p>
          </div>
        </div>
        <!-- 右邊圖片 -->
        <div class="w-800 d-none d-lg-block">
          <img
            src="/assets/photo/header/register.svg"
            alt="註冊"
            class="img-fluid object-fit-cover"
            style="height: 800px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
