<!-- nav已登入 -->
<nav class="navbar fixed-top my-lg-4 my-2">
  <div
    class="container py-3 px-4 py-lg-3 ps-lg-6 pe-lg-3 bg-background-02 rounded-40 border-neutral-0 shadow-header"
  >
    <div class="d-flex align-items-center justify-content-between w-100">
      <!-- 左邊 -->
      <div class="d-lg-flex align-items-center">
        <!-- 品牌logo -->
        <a class="navbar-brand me-lg-4" href="index.html">
          <picture>
            <source
              media="(min-width: 992px)"
              srcset="/assets/photo/header/Logo-lg.svg"
            />
            <img
              src="/assets/photo/header/Logo.svg"
              alt="logo"
              class="img-fluid object-fit-cover"
            />
          </picture>
        </a>
        <!-- 桌機版搜尋欄 -->
        <form class="position-relative d-none d-lg-block">
          <span
            class="material-symbols-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ms-3 text-neutral-600"
          >
            search
          </span>
          <input
            type="search"
            class="form-control py-3 ps-9 border-neutral-200 border-2 rounded-100 bg-neutral-0 text-neutral-600 fs-6 min-w-280"
            id="header-search-sm"
            placeholder="有哪些輪椅有補助？"
          />
        </form>
      </div>
      <!-- 右邊 -->
      <div class="d-flex align-items-center">
        <!-- 選單 -->
        <ul
          class="navbar-nav d-lg-flex flex-row align-items-center me-3 d-none"
        >
          <li class="nav-item px-4">
            <a class="nav-link text-neutral-950 text-nowrap" href="about.html"
              >關於我們</a
            >
          </li>
          <li class="nav-item px-4 dropdown position-static">
            <a
              class="nav-link dropdown-toggle text-neutral-950 text-nowrap"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              線上商城
            </a>
            <ul
              class="dropdown-menu nav-online bg-background border border-neutral-0 p-3"
              aria-labelledby="navbarDropdown"
            >
              <li class="mb-1">
                <a class="dropdown-item" href="product.html">
                  <div
                    class="d-flex justify-content-between align-items-center px-4 py-3 w-296"
                  >
                    <p class="text-neutral-950">行動協助</p>
                    <p class="fs-7 text-neutral-800">輪椅、拐杖、助行器</p>
                  </div>
                </a>
              </li>
              <li class="mb-1">
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3 w-296"
                  >
                    <p class="text-neutral-950">用餐照護</p>
                    <p class="fs-7 text-neutral-800">用餐輔具、飲水輔具</p>
                  </div></a
                >
              </li>
              <li class="mb-1">
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3 w-296"
                  >
                    <p class="text-neutral-950">如廁便利</p>
                    <p class="fs-7 text-neutral-800">止滑墊、馬桶加高軟墊</p>
                  </div></a
                >
              </li>
              <li class="mb-1">
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3 w-296"
                  >
                    <p class="text-neutral-950">洗浴安全</p>
                    <p class="fs-7 text-neutral-800">
                      充氣式床上洗頭槽、洗澡刷
                    </p>
                  </div></a
                >
              </li>
              <li>
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3 w-296"
                  >
                    <p class="text-neutral-950">補助分類</p>
                    <p class="fs-7 text-neutral-800">政府最新補助商品</p>
                  </div></a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link text-neutral-950 text-nowrap" href="#"
              >常見問題</a
            >
          </li>
        </ul>
        <a href="cart.html">
          <span class="position-relative d-inline-block me-3">
            <span
              class="material-symbols-outlined text-primary-500 align-bottom"
            >
              shopping_cart
            </span>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill p-1 bg-secondary-500 border border-neutral-0 border-1"
            >
              3
            </span>
          </span>
        </a>
        <div class="dropdown">
          <button
            class="btn btn-outline-primary-500 bg-neutral-0 text-primary-500 fw-semibold btn d-none d-lg-block ms-5 text-nowrap"
            type="button"
            id="dropdownMenu-userButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="material-symbols-outlined align-bottom me-1">
              face </span
            >會員中心
          </button>
          <ul
            class="dropdown-menu nav-user bg-background border border-neutral-0 p-3"
            aria-labelledby="navbarDropdown"
            style="backdrop-filter: blur(8px)"
          >
            <li>
              <a
                class="dropdown-item"
                href="/with_your_life/user.html#information-item"
                ><div class="d-flex align-items-center py-3 w-296">
                  <p>
                    <span
                      class="material-symbols-outlined text-primary-500 align-bottom me-3"
                    >
                      notifications </span
                    >訊息通知
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/with_your_life/user.html#collection-item"
                ><div class="d-flex align-items-center py-3 w-296">
                  <p>
                    <span
                      class="material-symbols-outlined text-primary-500 align-bottom me-3"
                    >
                      favorite </span
                    >我的收藏
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/with_your_life/user.html#booking-item"
                ><div class="d-flex align-items-center py-3 w-296">
                  <p>
                    <span
                      class="material-symbols-outlined text-primary-500 align-bottom me-3"
                    >
                      assignment </span
                    >訂單查詢
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/with_your_life/user.html#user-info-item"
                ><div class="d-flex align-items-center py-3 w-296">
                  <p>
                    <span
                      class="material-symbols-outlined text-primary-500 align-bottom me-3"
                    >
                      assignment_ind </span
                    >會員資料
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><div class="d-flex align-items-center py-3 w-296">
                  <p>
                    <span
                      class="material-symbols-outlined text-primary-500 align-bottom me-3"
                    >
                      chip_extraction </span
                    >登出
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <!-- 漢堡選單 -->
        <button
          class="navbar-toggler d-lg-none border-0 p-3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav-collapse"
        >
          <span class="material-symbols-outlined text-primary-500">
            dehaze
          </span>
        </button>
      </div>
    </div>
  </div>
  <!--  響應式選單內容 -->
  <div class="container">
    <div
      class="w-100 py-4 px-3 m-2 bg-background collapse hamburger-menu shadow-header rounded-40 overflow-x-hidden"
      id="nav-collapse"
    >
      <div>
        <form class="position-relative mb-6">
          <span
            class="material-symbols-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ms-3 text-neutral-600"
          >
            search
          </span>
          <input
            type="search"
            class="form-control py-3 ps-9 border-neutral-200 border-2 rounded-100 bg-neutral-0 text-neutral-600 fs-6 w-100"
            id="header-search"
            placeholder="有哪些輪椅有補助？"
          />
        </form>
        <ul class="list-unstyled">
          <li>
            <a class="text-neutral-950 py-3 px-4" href="about.html">關於我們</a>
          </li>
          <li class="mt-2 border-top">
            <a
              class="text-neutral-950 py-3 px-4"
              data-bs-toggle="collapse"
              href="#navbar-collapse"
            >
              線上商城
            </a>
            <ul
              class="collapse list-unstyled bg-primary-100 shadow-header rounded-20 mb-4"
              id="navbar-collapse"
              aria-labelledby="navbarDropdown"
            >
              <li class="mb-1">
                <a class="dropdown-item" href="product.html">
                  <div
                    class="d-flex justify-content-between align-items-center px-4 py-3"
                  >
                    <p class="text-neutral-950">行動協助</p>
                    <p class="fs-7 text-neutral-800">輪椅、拐杖、助行器</p>
                  </div>
                </a>
              </li>
              <li class="mb-1">
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3"
                  >
                    <p class="text-neutral-950">用餐照護</p>
                    <p class="fs-7 text-neutral-800">用餐輔具、飲水輔具</p>
                  </div></a
                >
              </li>
              <li class="mb-1">
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3"
                  >
                    <p class="text-neutral-950">如廁便利</p>
                    <p class="fs-7 text-neutral-800">止滑墊、馬桶加高軟墊</p>
                  </div></a
                >
              </li>
              <li class="mb-1">
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3"
                  >
                    <p class="text-neutral-950">洗浴安全</p>
                    <p class="fs-7 text-neutral-800">
                      充氣式床上洗頭槽、洗澡刷
                    </p>
                  </div></a
                >
              </li>
              <li>
                <a class="dropdown-item" href="product.html"
                  ><div
                    class="d-flex justify-content-between align-items-center px-4 py-3"
                  >
                    <p class="text-neutral-950">補助分類</p>
                    <p class="fs-7 text-neutral-800">政府最新補助商品</p>
                  </div></a
                >
              </li>
            </ul>
          </li>
          <li class="mt-2 border-top">
            <a class="text-neutral-950 py-3 px-4" href="#">常見問題</a>
          </li>
          <li class="mt-2">
            <a
              class="text-neutral-950 py-3 px-4"
              data-bs-toggle="collapse"
              href="#user-collapse"
              >會員中心</a
            >
            <ul
              class="collapse list-unstyled bg-primary-100 shadow-header rounded-20 mb-4 px-4"
              id="user-collapse"
              aria-labelledby="navbarDropdown"
            >
              <li class="mb-1">
                <a
                  class="dropdown-item"
                  href="/with_your_life/user.html#information-item"
                >
                  <div class="d-flex align-items-center py-3 w-296">
                    <p>
                      <span
                        class="material-symbols-outlined text-primary-500 align-bottom me-3"
                      >
                        notifications </span
                      >訊息通知
                    </p>
                  </div>
                </a>
              </li>
              <li class="mb-1">
                <a
                  class="dropdown-item"
                  href="/with_your_life/user.html#collection-item"
                >
                  <div
                    class="d-flex justify-content-between align-items-center py-3"
                  >
                    <p>
                      <span
                        class="material-symbols-outlined text-primary-500 align-bottom me-3"
                      >
                        favorite </span
                      >我的收藏
                    </p>
                  </div></a
                >
              </li>
              <li class="mb-1">
                <a
                  class="dropdown-item"
                  href="/with_your_life/user.html#booking-item"
                >
                  <div class="d-flex align-items-center py-3 w-296">
                    <p>
                      <span
                        class="material-symbols-outlined text-primary-500 align-bottom me-3"
                      >
                        assignment </span
                      >訂單查詢
                    </p>
                  </div></a
                >
              </li>
              <li class="mb-1">
                <a
                  class="dropdown-item"
                  href="/with_your_life/user.html#user-info-item"
                >
                  <div class="d-flex align-items-center py-3 w-296">
                    <p>
                      <span
                        class="material-symbols-outlined text-primary-500 align-bottom me-3"
                      >
                        assignment_ind </span
                      >會員資料
                    </p>
                  </div></a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <div class="d-flex align-items-center py-3 w-296">
                    <p>
                      <span
                        class="material-symbols-outlined text-primary-500 align-bottom me-3"
                      >
                        chip_extraction </span
                      >登出
                    </p>
                  </div></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
