.footer-img {
  background-image: url("/assets/photo/footer/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  .footer-img {
    background-image: url("/assets/photo/footer/footer-lg-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
