// header 搜尋欄寬度
.min-w-300 {
  min-width: 300px;
}
.min-w-280 {
  min-width: 280px;
}

//選單active show 覆蓋bs5的css設定
.navbar-nav .nav-link.dropdown-toggle.show {
  color: $Secondary-500 !important;
}
.nav-link:hover {
  color: $Secondary-500 !important;
}

/* 移除 hover 背景 */
.navbar .nav-link:hover,
.navbar .dropdown-toggle:hover,
.navbar .dropdown-toggle:focus {
  background-color: transparent !important;
  color: inherit !important; /* 保持原本的文字顏色 */
}
//讓 線上商城 dropdown 掉到 navbar 外面
.navbar .nav-online {
  position: absolute; //脫離 navbar 的圓角容器
  top: 100%; //緊貼在 navbar 下方
  margin-top: 1rem; //與 navbar 外框留縫隙
  left: 60%; //自動靠 trigger 對齊
  z-index: 1050;
}
.dropdown-toggle::after {
  display: none !important;
}

//dropdown 寬度
.w-296 {
  width: 296px;
}
//線上商城 子項目 設定
.dropdown-menu .dropdown-item:hover {
  background-color: $Primary-100;
  border-radius: 100px;
}

// 漢堡選單位置移動
.hamburger-menu {
  margin-top: 95px;
}

//讓 會員中心 dropdown 掉到 navbar 外面
.dropdown .nav-user {
  position: absolute; //脫離 navbar 的圓角容器
  top: 100%; //緊貼在 navbar 下方
  margin-top: 2rem; // 與 navbar 外框留縫隙
  left: -40%; // 自動靠 trigger 對齊
  z-index: 1050;
}
//陰影
.shadow-header {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.6),
    2px 2px 5px rgba(0, 0, 0, 0.2);
}

// 給內層 collapse 容器加上最大高度與滾動
#nav-collapse {
  max-height: 80vh; //整個漢堡選單最多占螢幕 80% 高度
  overflow-y: auto; //超過高度就出現垂直滾動條
  -webkit-overflow-scrolling: touch; //手機滑順滾動
}
