//📌📌📌section 2.1 品牌介紹/價值
@media (min-width: 992px) {
  .about-logo {
    max-width: 280px;
    width: 100%;
  }
}

.about-logo {
  max-width: 216px;
  width: 100%;
}

//調整桌機、手機版圖片大小
.before-img {
  max-width: 360px;
  height: 200px;
}
.after-img {
  max-width: 360px;
  height: 200px;
}

@media (min-width: 992px) {
  .before-img {
    max-width: 360px;
    height: 288px; /* 固定框高 */
  }
  .after-img {
    max-width: 400px;
    height: 320px; /* 固定框高 */
  }
}

//舊門市圖片
.before-img {
  width: 100%;
  background-position: center;
  background-size: 125% auto;
  background-image:
    /* 遮罩層加亮 */ linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("/assets/photo/about/about-brand-s1-1.png");
}

//新門市圖片
.after-img {
  width: 100%;
  background-position: center;
  background-size: 125% auto;
  background-image:
    /* 遮罩層加亮 */ linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    /* 四周 */
      radial-gradient(circle, transparent 70%, rgba(200, 170, 120, 0.7) 100%),
    url("/assets/photo/about/about-brand-s1-2.png");
}

//💠定位
// 舊門市圖片往上80px
.before-img-layer {
  top: 40px;
  right: 0px;
}

.after-img-layer {
  top: 220px;
  right: 330px;
}

.brand-footprint {
  width: 280px; /* 調整寬度 */
  height: auto;
  top: 230px;
  right: 50px;
  transform: rotate(140deg);
  opacity: 0.7;
}

.brand-smile {
  width: 100px; /* 調整寬度 */
  height: auto;
  top: 145px;
  right: 15px;
}

@media (min-width: 992px) {
  .brand-smile {
    width: 120px; /* 調整寬度 */
    height: auto;
    top: 732px;
    right: 90px;
  }

  .brand-slogan {
    top: 600px;
    right: 200px;
  }
}

// 📌📌📌滿版圖片
.banner-img {
  color: white;
  letter-spacing: 4px;
  width: 100%;
  height: 400px;
  /* 固定框高 */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image:
    /* 四周 */ radial-gradient(
      circle,
      transparent 70%,
      rgba(200, 170, 120, 0.9) 100%
    ),
    /* 整體暗 */
      linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    url("/assets/photo/about/about-brand-s1-3-angle.png");
}

//📌📌📌section 2.2 團隊成員
.pt-100 {
  padding-top: 100px;
}

@media (min-width: 992px) {
  .w-lg-416 {
    max-width: 416px;
  }
}

.team-overflow {
  overflow-x: auto;
  /* 手機可滑動 */
}

@media (min-width: 992px) {
  .team-overflow {
    overflow-x: hidden;
    /* 桌機不要滾動 */
  }
}

//📌📌📌section 2.3 陪診師服務
@media (min-width: 992px) {
  .me-lg-80 {
    margin-right: 80px;
  }
}

//📌📌📌section 2.4 訂單FAQ

.faq-title {
  max-width: 240px;
}

@media (min-width: 992px) {
  .faq-title {
    max-width: 100%;
  }
}

//💠替換手風琴 active 背景色
.accordion {
  --bs-accordion-active-bg: transparent;
  --bs-accordion-border-radius: 0; //消除預設圓角
  --bs-accordion-inner-border-radius: 0; //消除內側預設圓角
  --bs-accordion-btn-focus-box-shadow: none; //消除BS5預設灰底
}

.accordion-button:focus {
  box-shadow: none; //把 focus 預設藍框消掉
}

//💠替換 BS5 手風琴預設 icon
.accordion-button::after {
  background-image: url("/assets/photo/about/arrow-drop-down.svg");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("/assets/photo/about/arrow-drop-up.svg");
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-item {
  border: none;
}

//💠檢查 BS5 手風琴預設 框線 用
// .accordion-item {
//   border: 3px solid lightcoral;
// }

// .accordion-button {
//   border: 3px solid rgba(51, 0, 0, 0.3);
// }

//📌📌📌section 2.5 聯絡我們

@media (min-width: 992px) {
  .w-lg-400 {
    max-width: 400px;
  }

  .contact-info {
    flex: 1; //讓它自動填滿剩下的空間
  }

  .w-lg-556 {
    max-width: 556px;
  }
}

.form-textarea {
  resize: none;
  /* 禁止使用者改變大小 */
  overflow-y: auto;
}
