//📌📌📌section 2.2 團隊成員
.pt-100 {
  padding-top: 100px;
}

@media (min-width: 992px) {
  .w-lg-416 {
    max-width: 416px;
  }
}

@media (min-width: 992px) {
  .overflow-x-hidden {
    overflow-x: hidden; /* 桌機版不要滾動 */
  }
}

//📌📌📌section 2.3 陪診師服務
@media (min-width: 992px) {
  .me-lg-80 {
    margin-right: 80px;
  }
}

//📌📌📌section 2.4 訂單FAQ

.faq-title {
  max-width: 240px;
}

@media (min-width: 992px) {
  .faq-title {
    max-width: 100%;
  }
}

// 📌消除手風琴 accordion 預設樣式
// 消除手風琴點擊 outlined 預設
.accordion-button:focus,
.accordion-button:active {
  box-shadow: none;
  outline: none;
}

// 展開時的 hover 效果
.accordion .accordion-button:not(.collapsed) {
  background: transparent;
  box-shadow: none;
}

.faq-area .accordion {
  width: 100%; /* 保持手風琴撐滿父容器 */
}

// 🎯 自訂圓角，覆蓋BS5原本手風琴變數
:root {
  --bs-accordion-border-radius: 1.25rem; // 手機版 20px
  --bs-accordion-padding-y: 0.75rem; /* 12px */
  --bs-accordion-padding-x: 1rem; /* 16px */
}
@media (min-width: 992px) {
  // lg 以上桌機圓角跟padding
  :root {
    --bs-accordion-border-radius: 2.5rem; // 桌機版 40px
    --bs-accordion-padding-y: 1.5rem; /* 24px */
    --bs-accordion-padding-x: 2rem; /* 32px */
  }
}

.accordion-item {
  border-radius: var(--bs-accordion-border-radius);
  overflow: hidden; // 確保內部內容不溢出圓角
}

.accordion-button {
  border-radius: var(--bs-accordion-border-radius);
  padding: var(--bs-accordion-padding-y) var(--bs-accordion-padding-x);
}

.accordion-body {
  padding: var(--bs-accordion-padding-y) var(--bs-accordion-padding-x);
}

//📌📌📌section 2.5 聯絡我們

@media (min-width: 992px) {
  .w-lg-400 {
    max-width: 400px;
  }

  .contact-info {
    flex: 1; //讓它自動填滿剩下的空間
  }
  .w-lg-556 {
    max-width: 556px;
  }
}
