.cart-buy {
  margin-top: 76px;
}
@media (min-width: 992px) {
  .cart-buy {
    margin-top: 108px;
  }
}

// 購物車定位
.cart-position-1 {
  right: 24%;
  top: 50%;
  transform: translateY(-70%);
}

.cart-position-2 {
  left: 25%;
  top: 50%;
  transform: translateY(-70%);
}

.cart-position-3 {
  right: 17%;
  top: 50%;
  transform: translateY(-70%);
}
