<!-- 0912 已經merge好第一版，應該會看到 有陰影的header -->
<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="../assets/photo/logo-icon/logo-lcon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>伴你在日常｜關於我們</title>
  <%- include('./layout/link-icon'); -%>
</head>

<body>
  <%- include('./layout/header-loginOut'); -%>
    <main>
      <!-- 佔位用 -->
      <div style="height: 110px">
        <div></div>
      </div>
      <!-- section 2.1 品牌介紹/價值 -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
              <div class="py-10 py-lg-14">
                <div class="before-area d-lg-flex flex-lg-row-reverse align-items-center">
                  <div class="before-img mb-6"></div>
                  <div class="before-texts mb-6 p-lg-8">
                    <!-- 要調整logo大小 -->
                    <h2 class="fs-3 text-center mb-4">
                      關於<img src="../assets/photo/header/Logo.svg" />
                    </h2>
                    <p class="fs-6 text-neutral-700 mb-4">
                      我們原是一間深耕在地多年的輔具品牌，長期陪伴無數家庭走過生活的轉變。
                    </p>
                    <p class="fs-6 text-neutral-700">
                      隨著時代推進與網路普及，我們看見越來越多人對輔具的需求，也發現許多顧客在選購時面臨資訊不足、選擇困難的情況。
                    </p>
                  </div>
                </div>
                <div class="after-area d-lg-flex align-items-center">
                  <div class="after-img mb-6"></div>
                  <div class="after-texts p-lg-8">
                    <p class="fs-6 text-neutral-700 mb-6 mb-lg-10">
                      因此，我們決定將專業經驗帶到線上，打造這個電商平台。不只是讓選擇更便利，我們更希望透過這個平台，將更多實用、貼心的好產品帶給有需要的您與您的家人。
                    </p>
                    <div class="after-area-slogan text-center">
                      <h2 class="fs-4 fs-lg-5 mb-4 text-primary-600">
                        我們堅信有我們陪伴，
                      </h2>
                      <h2 class="fs-4 fs-lg-5 mb-4 text-primary-600">
                        每個人的日常，
                      </h2>
                      <h2 class="fs-4 fs-lg-5 mb-4 text-primary-600">
                        都能更輕鬆、更自在。
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 滿版圖片 -->
      <div class="banner-img text-center d-flex flex-column justify-content-center p-4">
        <h2 class="fs-6 fs-lg-3 mb-4 mb-lg-6">信義門市，隨時歡迎您的到來。</h2>
        <p class="fs-4 fs-lg-3 fw-semibold">- With Your Life -</p>
      </div>
      <!-- section 2.2 團隊成員 -->
      <section>
        <div class="container">
          <div class="py-10 py-lg-14">
            <h3 class="fs-3 fs-lg-1 text-primary-900 text-center mb-lg-10">
              我們ㄟ團隊
            </h3>
            <!-- 卡片群組層 -->
            <div class="team-overflow">
              <div class="row flex-nowrap flex-lg-wrap gx-3 gx-lg-6">
                <!-- 卡片1 -->
                <div class="col-12 col-lg-4">
                  <div class="pt-100">
                    <div class="card position-relative rounded-20 rounded-lg-40 border-0">
                      <img src="../assets/photo/about/about-brand-s2-1.png"
                        class="img-fluid rounded-circle card-img-top mb-4 mx-auto position-absolute translate-middle top-0 start-50"
                        style="width: 150px; height: 150px; object-fit: cover" alt="專業復健科醫生圖片" />
                      <div class="card-body text-center pt-13 pb-11 px-lg-8">
                        <div class="card-title my-4 my-lg-6">
                          <h6 class="card-subject fs-6 fs-lg-5 text-primary-500 mb-3">
                            復健科專業
                          </h6>
                          <h5 class="card-name fs-5 fs-lg-4 text-neutral-950">
                            陳曉婕
                          </h5>
                        </div>
                        <p class="card-texts fs-7 fs-lg-6 text-neutral-700">
                          邀請長照經驗豐富的陳醫師擔任顧問，協助風險評估，提供專業醫療觀點與輔具建議！
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 卡片2 -->
                <div class="col-12 col-lg-4">
                  <div class="pt-100">
                    <div class="card position-relative rounded-20 rounded-lg-40 border-0">
                      <img src="../assets/photo/about/about-brand-s2-2.png"
                        class="img-fluid rounded-circle card-img-top mb-4 mx-auto position-absolute translate-middle top-0 start-50"
                        style="width: 150px; height: 150px; object-fit: cover" alt="輔具研發團隊圖片" />
                      <div class="card-body text-center pt-13 pb-11 px-lg-8">
                        <div class="card-title my-4 my-lg-6">
                          <h6 class="card-subject fs-6 fs-lg-5 text-primary-500 mb-3">
                            輔具研發團隊
                          </h6>
                          <h5 class="card-name fs-5 fs-lg-4 text-neutral-950">
                            輔研所
                          </h5>
                        </div>
                        <p class="card-texts fs-7 fs-lg-6 text-neutral-700">
                          結合臨床建議，細緻考量每一種使用情境，打造讓照顧者與使用者都安心、放心的輔具選擇！
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 卡片3 -->
                <div class="col-12 col-lg-4">
                  <div class="pt-100">
                    <div class="card position-relative rounded-20 rounded-lg-40 border-0">
                      <img src="../assets/photo/about/about-brand-s2-3.png"
                        class="img-fluid rounded-circle card-img-top mb-4 mx-auto position-absolute translate-middle top-0 start-50"
                        style="width: 150px; height: 150px; object-fit: cover" alt="臨床護理師圖片" />
                      <div class="card-body text-center pt-13 pb-11 px-lg-8">
                        <div class="card-title my-4 my-lg-6">
                          <h6 class="card-subject fs-6 fs-lg-5 text-primary-500 mb-3">
                            臨床護理師
                          </h6>
                          <h5 class="card-name fs-5 fs-lg-4 text-neutral-950">
                            王宏明
                          </h5>
                        </div>
                        <p class="card-texts fs-7 fs-lg-6 text-neutral-700">
                          從照顧現場出發，深入理解需求，協助整理實用輔具知識、完善選購流程！
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- section 2.3 陪診師服務 service -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 mx-auto">
              <!-- 定位容器 -->
              <div class="service-area d-lg-flex align-items-lg-center py-10 py-lg-14">
                <div class="service-img mb-6 position-relative col-lg-6 me-lg-80">
                  <img src="../assets/photo/about/about-brand-s3-1.png" class="img-fluid rounded-20" alt="陪診師服務圖" />
                  <!-- 黑色漸層遮罩 -->
                  <div class="position-absolute top-0 start-0 w-100 h-100 rounded-20" style="
                      background: linear-gradient(
                        to top,
                        rgba(0, 0, 0, 0.5),
                        transparent
                      );
                    "></div>
                  <div class="position-absolute" style="left: 20px; bottom: 20px">
                    <h4 class="fs-4 fs-lg-2 mb-3">
                      <span class="text-neutral-0">陪診師服務</span>
                    </h4>
                    <p class="fs-6 text-neutral-0">
                      不只是照護，更是生活中的陪伴。
                    </p>
                  </div>
                </div>
                <div class="service-info">
                  <div class="service-title text-center mb-6 mb-lg-8">
                    <h3 class="fs-3 fs-lg-1 text-primary-900 mb-4 mb-lg-8">
                      陪你ㄟ日常，照顧你ㄟ心情
                    </h3>
                    <p class="fs-5 fs-lg-4 text-secondary-500 px-2 px-lg-10">
                      「伴你ㄟ日常」的陪診師，不只是照護人員，更是你生活中的安心夥伴
                    </p>
                  </div>
                  <div class="service-texts bg-neutral-0 rounded-20 rounded-lg-40 p-4 p-lg-6 mb-6 mb-lg-8">
                    <p class="fs-7 fs-lg-6 mb-3 mb-lg-5">
                      有時候出門，不一定是為了看醫生，也可能只是拿藥、回診、買東西，或是想散散步。
                    </p>
                    <p class="fs-7 fs-lg-6 mb-3 mb-lg-5">
                      「陪你ㄟ日常」提供的不只是醫療上的陪伴，我們會陪你掛號、問診、拿藥，也能一起去市場買菜、陪你散步聊天。
                    </p>
                    <p class="fs-7 fs-lg-6">
                      我們的陪診師，不只懂健康，更懂生活。比起「照護」，我們相信「陪伴」才是最溫柔的照顧方式。
                    </p>
                  </div>
                  <h4 class="fs-4 fs-lg-3 text-center text-primary-500 mb-6 mb-lg-8">
                    有我們陪你，就不再孤單。
                  </h4>

                  <button type="button"
                    class="btn btn-outline-primary-500 fw-semibold w-100 d-flex justify-content-center">
                    <span class="material-symbols-outlined me-1"> call </span>
                    諮詢專線：(02) 8590-6666
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section 2.4 訂單FAQ faq -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
              <div class="faq-area py-10 py-lg-14">
                <h3 class="faq-title fs-3 text-primary-900 mb-6 mb-lg-10 text-center mx-auto">
                  關於訂單，你可能想問ㄟ事
                </h3>
                <!-- 手風琴(使用always open範例去改) -->
                <!--📌📌📌0916調整padding -->
                <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item rounded-20 rounded-lg-40 mb-6">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button
                        class="accordion-button rounded-20 rounded-lg-40 text-neutral-950 fs-lg-4 fw-semibold px-lg-8 py-lg-6"
                        type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        如何購物？
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                      aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body px-lg-8 py-lg-6">
                        <p class="fs-7 fs-lg-6 text-neutral-700">您需要<strong>先註冊成為會員</strong>才能購物並成立訂單，請點此連結註冊。</p>
                        <p class="fs-7 fs-lg-6 text-neutral-700">購物流程：選購商品 → 加入購物車 → 選擇支付、運送方式 → 確認結帳 → 訂單成立！</p>
                        <p class="fs-7 fs-lg-6 text-neutral-700">訂單成立後，您可到<strong>個人主頁</strong>確認訂單狀態。</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item rounded-20 rounded-lg-40 mb-6">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button
                        class="accordion-button collapsed rounded-20 rounded-lg-40 text-neutral-950 fs-lg-4 fw-semibold px-lg-8 py-lg-6"
                        type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        有哪些付款方式？
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingTwo">
                      <div class="accordion-body px-lg-8 py-lg-6">
                        <p class="fs-7 fs-lg-6 text-neutral-700">目前提供<strong>轉帳匯款</strong>和<strong>信用卡付款</strong>兩種方式：
                        </p>
                        <ul>
                          <li>轉帳匯款：匯款完成後，請回覆您的帳號末五碼、金額，以便客服人員協助對帳</li>
                          <li>信用卡付款：支援 Visa / Mastercard / JCB，包括國內外信用卡</li>
                        </ul>
                        <p>為提供更穩定安全的購物環境，本系統是透過某某銀行與國際刷卡組織直接串接，採取更高標準的作業流程。刷卡過程您的卡號全程加密，相關卡號資訊也不會留存在本網站資料庫，以確保您的交易安全。
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item rounded-20 rounded-lg-40 mb-6">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                      <button
                        class="accordion-button collapsed rounded-20 rounded-lg-40 text-neutral-950 fs-lg-4 fw-semibold px-lg-8 py-lg-6"
                        type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        運費怎麼計算？
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingThree">
                      <div class="accordion-body px-lg-8 py-lg-6">
                        <p class="fs-7 fs-lg-6 text-neutral-700 mb-3 mb-lg-4">
                          部分偏遠地區無法提供配送服務 或
                          需要額外加收運費，如有前述情況，訂單成立後出貨前，客服人員將會致電確認。造成不便敬請見諒。
                        </p>
                        <picture>
                          <!-- 桌機版 lg 以上 -->
                          <source srcset="../assets/photo/about/about-brand-s4-1-lg.png" media="(min-width: 992px)" />
                          <!-- 手機版預設 -->
                          <img src="../assets/photo/about/about-brand-s4-1.png" class="img-fluid d-block mx-auto"
                            alt="運費圖手機版" />
                        </picture>
                      </div>
                    </div>
                    <!--手風琴結束 -->
                  </div>
                  <div class="accordion-item rounded-20 rounded-lg-40 mb-6">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                      <button
                        class="accordion-button collapsed rounded-20 rounded-lg-40 text-neutral-950 fs-lg-4 fw-semibold px-lg-8 py-lg-6"
                        type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                        aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
                        退貨流程？
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
                      aria-labelledby="panelsStayOpen-headingFour">
                      <div class="accordion-body px-lg-8 py-lg-6">
                        <p class="fs-7 fs-lg-6 text-neutral-700 mb-3 mb-lg-4">相關流程請參考附圖：</p>
                        <img src="/assets/photo/about/refund-process-s4-2.png" class="img-fluid d-block mx-auto"
                          alt="退款流程圖">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
      <!--section 2.5 聯絡我們 contact -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-10 mx-auto py-lg-14">
              <div
                class="contact-area d-lg-flex align-items-lg-center p-lg-10 border border-2 border-primary-200 rounded-20 my-10 px-4 py-6">
                <div class="contact-header bg-neutral-50 w-lg-400 me-lg-10">
                  <div class="contact-title text-center mb-4">
                    <h3 class="fs-3 text-primary-900 mb-4">
                      咱在這裡，隨時等你
                    </h3>
                    <p class="fs-5 text-secondary-500">我們可以怎麼幫助您？</p>
                  </div>
                  <img src="../assets/photo/about/about-brand-s5-1.png" class="img-fluid contact-img" alt="聯絡我們圖片" />
                </div>
                <div class="contact-info w-lg-556">
                  <!-- 表單 -->
                  <div class="contact-form">
                    <div class="bg-primary-50 p-6">
                      <!-- 相關項目 (從cart優惠折扣而來) -->
                      <div class="issue-type">
                        <!-- BS元件：下拉式選單 -->
                        <div class="dropdown mb-4">
                          <button class="form-select text-start text-neutral-600" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            請選擇問題類型
                          </button>
                          <ul class="dropdown-menu w-100 p-3" aria-labelledby="dropdownMenuButton1">
                            <li class="dropdown-item py-3 px-4">
                              <a href="#" class="d-flex justify-content-between">
                                <p class="text-neutral-600">我有訂單相關問題</p>
                              </a>
                            </li>
                            <li class="dropdown-item py-3 px-4">
                              <a href="#" class="d-flex justify-content-between">
                                <p class="text-neutral-600">我有其他相關問題</p>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- 姓名 -->
                      <div class="form-floating mb-4">
                        <input type="text" class="form-control" id="about-name" placeholder="請輸入姓名" />
                        <label for="about-name">姓名</label>
                      </div>
                      <!-- 電子信箱 -->
                      <div class="form-floating mb-4">
                        <input type="email" class="form-control" id="about-email" placeholder="請輸入電子信箱" />
                        <label for="about-email">電子信箱</label>
                      </div>
                      <!-- 問題內容 -->
                      <div class="form-floating mb-4">
                        <textarea type="textarea" class="form-control form-textarea mb-1" id="about-content"
                          style="border-radius: 24px; height: 200px" maxlength="250"
                          placeholder="如果有訂單編號，請一併附上，將會加速客服進度，感謝您的協助。"></textarea>
                        <label for="about-content">問題內容（請附訂單編號）
                        </label>
                        <p class="fs-7 text-neutral-700">0/250</p>
                      </div>
                      <button type="button" class="btn btn-secondary-500 text-neutral-0 fw-semibold w-100">
                        送出
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>