<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../assets/photo/logo-icon/logo-lcon.svg"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>伴你在日常｜關於我們</title>
    <%- include('./layout/link-icon'); -%>
  </head>

  <body>
    <%- include('./layout/header-loginOut'); -%>
    <main class="main">
      <!-- 佔位用 -->
      <div class="bg-background">
        <div style="height: 100px"></div>
      </div>
      <!-- section 2.1 品牌介紹/價值 -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="py-10">
                <div class="brand-title d-flex mb-6">
                  <h3 class="fs-3">關於</h3>
                  <img
                    src="../assets/photo/header/Logo.svg"
                    class="img-fluid"
                  />
                </div>
                <div class="brand-texts mb-6">
                  <p class="fs-6 text-neutral-700 mb-4">
                    我們原是一間深耕在地多年的輔具品牌，長期陪伴無數家庭走過生活的轉變。隨著時代推進與網路普及，我們看見越來越多人對輔具的需求，也發現許多顧客在選購時面臨資訊不足、選擇困難的情況。
                  </p>
                  <p class="fs-6 text-neutral-700">
                    因此，我們決定將專業經驗帶到線上，打造這個電商平台。不只是讓選擇更便利，我們更希望透過這個平台，將更多實用、貼心的好產品帶給有需要的您與您的家人。
                  </p>
                </div>
                <h3>我們堅信有我們陪伴，每個人的日常，都能更輕鬆、更自在。</h3>
              </div>
            </div>
          </div>
        </div>
        <div>
          <img src="../assets/photo/about/about-brand-s1-3-angle.png" />
        </div>
      </section>
      <!-- section 2.2 團隊介紹 -->
      <section class="py-10">
        <div class="container">
          <h3 class="mb-6 text-center">我們ㄟ團隊</h3>
          <!-- 📌目前先預設flex-wrap，晚點處理右滑 -->
          <div class="team-members row flex-nowrap overflow-auto">
            <!-- 第一張圖(修改中) -->
            <div class="col-12">
              <img
                src="../assets/photo/about/about-brand-s2-1.png"
                class="card-img-top"
                alt="專業復健科醫生圖片"
              />
              <div class="card">
                <div class="card-body text-center p-0 mb-4">
                  <h6 class="card-subtitle fs-6 mb-3 text-primary-500">
                    復健科專業
                  </h6>
                  <h5 class="card-title fs-5">陳曉婕</h5>
                </div>
                <p
                  class="card-text fs-7 text-center text-neutral-700"
                  style="margin-bottom: 45px"
                >
                  邀請長照經驗豐富的陳醫師擔任顧問，協助風險評估，提供專業醫療觀點與輔具建議！
                </p>
              </div>
            </div>
            <!-- 第二張圖 -->
            <div class="col-12">
              <div class="card">
                <!-- 📌等等加上 h-100屬性觀察 -->
                <img
                  src="../assets/photo/about/about-brand-s2-2.png"
                  class="card-img-top"
                  alt="輔具研發團隊圖片"
                />
                <div class="card-body text-center">
                  <h5 class="card-subtitle fs-6 mb-3">輔具研發團隊</h5>
                  <h4 class="card-title fs-5 mb-4">輔研所</h4>
                </div>
                <p class="card-text fs-7 text-center">
                  結合臨床建議，細緻考量每一種使用情境，打造讓照顧者與使用者都安心、放心的輔具選擇！
                </p>
              </div>
            </div>
            <!-- 第三張圖 -->
            <div class="col-12">
              <div class="card">
                <!-- 📌等等加上 h-100屬性觀察 -->
                <img
                  src="../assets/photo/about/about-brand-s2-3.png"
                  class="card-img-top"
                  alt="臨床護理師圖片"
                />
                <div class="card-body text-center">
                  <h5 class="card-subtitle fs-6 mb-3">臨床護理師</h5>
                  <h4 class="card-title fs-5 mb-4">王宏明</h4>
                </div>
                <p class="card-text fs-7 text-center">
                  從照顧現場出發，深入理解需求，協助整理實用輔具知識、完善選購流程！
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section 2.3 陪診師服務 service -->
      <section class="py-10">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <!-- 定位容器 -->
              <div class="service-img mb-6 position-relative">
                <img
                  src="../assets/photo/about/about-brand-s3-1.png"
                  class="img-fluid rounded-20"
                  alt="陪診師服務圖"
                />
                <!-- 黑色漸層遮罩 -->
                <div
                  class="position-absolute top-0 start-0 w-100 h-100 rounded-20"
                  style="
                    background: linear-gradient(
                      to top,
                      rgba(0, 0, 0, 0.5),
                      transparent
                    );
                  "
                ></div>
                <div class="position-absolute" style="left: 20px; bottom: 20px">
                  <h4 class="fs-4 mb-3">
                    <span class="bg-yellow b-radius-5 px-2">陪診師服務</span>
                  </h4>
                  <p class="fs-6 text-neutral-0">
                    不只是照護，更是生活中的陪伴。
                  </p>
                </div>
              </div>
              <div class="service-info">
                <div class="service-title text-center mb-2">
                  <h3 class="mb-4 text-primary-900">
                    陪你ㄟ日常，照顧你ㄟ心情
                  </h3>
                  <p class="fs-5 text-secondary-500 px-2">
                    「伴你ㄟ日常」的陪診師，不只是照護人員，更是你生活中的安心夥伴
                  </p>
                </div>
                <div class="service-texts p-4 mb-6 bg-neutral-0 rounded-20">
                  <p class="fs-7 mb-3">
                    有時候出門，不一定是為了看醫生，也可能只是拿藥、回診、買東西，或是想散散步。
                  </p>
                  <p class="fs-7 mb-3">
                    「陪你ㄟ日常」提供的不只是醫療上的陪伴，我們會陪你掛號、問診、拿藥，也能一起去市場買菜、陪你散步聊天。
                  </p>
                  <p class="fs-7">
                    我們的陪診師，不只懂健康，更懂生活。比起「照護」，我們相信「陪伴」才是最溫柔的照顧方式。
                  </p>
                </div>
                <h4 class="fs-4 text-center text-primary-500 mb-9">
                  有我們陪你，就不再孤單。
                </h4>

                <button
                  type="button"
                  class="btn btn-outline-primary-500 fw-semibold w-100 d-flex justify-content-center"
                >
                  <span class="material-symbols-outlined me-1"> call </span>
                  諮詢專線：(02) 8590-6666
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section 2.4 訂單FAQ faq -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
              <div
                class="faq-area d-flex flex-column align-items-center py-10 py-lg-14"
              >
                <h3
                  class="faq-title fs-3 text-primary-900 mb-6 mb-lg-10 text-center"
                >
                  關於訂單，你可能想問ㄟ事
                </h3>

                <!-- 手風琴(使用always open範例去改) -->
                <!--📌📌📌待調整padding -->
                <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item rounded-20 rounded-lg-40 mb-4">
                    <h6 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button
                        class="accordion-button collapsed fs-6 fs-lg-4 fw-semibold text-neutral-950"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne"
                      >
                        如何購物？
                      </button>
                    </h6>
                    <div
                      id="panelsStayOpen-collapseOne"
                      class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingOne"
                    >
                      <div class="accordion-body">
                        <p>文字一</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item rounded-20 rounded-lg-40 mb-4">
                    <h4 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button
                        class="accordion-button collapsed fs-6 fs-lg-4 fw-semibold text-neutral-950"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo"
                      >
                        有哪些付款方式？
                      </button>
                    </h4>
                    <div
                      id="panelsStayOpen-collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingTwo"
                    >
                      <div class="accordion-body"><p>文字二</p></div>
                    </div>
                  </div>
                  <div class="accordion-item rounded-20 rounded-lg-40 mb-4">
                    <h6
                      class="accordion-header"
                      id="panelsStayOpen-headingFour"
                    >
                      <button
                        class="accordion-button collapsed fs-6 fs-lg-4 fw-semibold text-neutral-950"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree"
                      >
                        運費怎麼計算？
                      </button>
                    </h6>
                    <div
                      id="panelsStayOpen-collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingThree"
                    >
                      <div class="accordion-body">
                        <p class="fs-7 fs-lg-6 text-neutral-700 mb-3">
                          部分偏遠地區無法提供配送服務 或
                          需要額外加收運費，如有前述情況，訂單成立後出貨前，客服人員將會致電確認。造成不便敬請見諒。
                        </p>
                        <picture>
                          <!-- 桌機版 lg 以上 -->
                          <source
                            srcset="
                              ../assets/photo/about/about-brand-s4-1-lg.png
                            "
                            media="(min-width: 992px)"
                          />
                          <!-- 手機版預設 -->
                          <img
                            src="../assets/photo/about/about-brand-s4-1.png"
                            class="img-fluid d-block mx-auto"
                            alt="運費圖手機版"
                          />
                        </picture>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item rounded-20 rounded-lg-40">
                    <h6
                      class="accordion-header"
                      id="panelsStayOpen-headingFour"
                    >
                      <button
                        class="accordion-button collapsed fs-6 fs-lg-4 fw-semibold text-neutral-950"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour"
                      >
                        退貨流程？
                      </button>
                    </h6>
                    <div
                      id="panelsStayOpen-collapseFour"
                      class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingFour"
                    >
                      <div class="accordion-body">
                        <p>文字四</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--手風琴結束 -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--section 2.5 聯絡我們 contact -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-10 mx-auto py-lg-14">
              <div
                class="contact-area d-lg-flex align-items-lg-center p-lg-10 border border-2 border-primary-200 rounded-20 my-10 px-4 py-6"
              >
                <div class="contact-header bg-neutral-50 w-lg-400 me-lg-10">
                  <div class="contact-title text-center mb-4">
                    <h3 class="fs-3 text-primary-900 mb-4">
                      咱在這裡，隨時等你
                    </h3>
                    <p class="fs-5 text-secondary-500">我們可以怎麼幫助您？</p>
                  </div>
                  <img
                    src="../assets/photo/about/about-brand-s5-1.png"
                    class="img-fluid contact-img"
                    alt="聯絡我們圖片"
                  />
                </div>
                <div class="contact-info w-lg-556">
                  <!-- 表單 -->
                  <div class="contact-form">
                    <div class="bg-primary-50 p-6">
                      <!-- 相關項目 (從cart優惠折扣而來) -->
                      <div class="issue-type">
                        <!-- BS元件：下拉式選單 -->
                        <div class="dropdown mb-4">
                          <button
                            class="form-select text-start text-neutral-600"
                            type="button"
                            id="dropdownMenuButton1"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            請選擇問題類型
                          </button>
                          <ul
                            class="dropdown-menu w-100"
                            aria-labelledby="dropdownMenuButton1"
                          >
                            <li class="dropdown-item py-3 px-4">
                              <a
                                href="#"
                                class="d-flex justify-content-between"
                              >
                                <p class="text-neutral-600">我有訂單相關問題</p>
                              </a>
                            </li>
                            <li class="dropdown-item py-3 px-4">
                              <a
                                href="#"
                                class="d-flex justify-content-between"
                              >
                                <p class="text-neutral-600">我有其他相關問題</p>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- 姓名 -->
                      <div class="form-floating mb-4">
                        <input
                          type="text"
                          class="form-control"
                          id="about-name"
                        />
                        <label for="about-name">姓名</label>
                      </div>
                      <!-- 電子信箱 -->
                      <div class="form-floating mb-4">
                        <input
                          type="email"
                          class="form-control"
                          id="about-email"
                          placeholder="請輸入電子信箱"
                        />
                        <label for="about-email">電子信箱</label>
                      </div>
                      <!-- 問題內容 -->
                      <div class="form-floating mb-4">
                        <textarea
                          type="textarea"
                          class="form-control mb-1"
                          id="about-content"
                          style="border-radius: 24px; height: 200px"
                          maxlength="250"
                          placeholder="如果有訂單編號，請一併附上，將會加速客服進度，感謝您的協助。"
                        ></textarea>
                        <label for="about-content"
                          >問題內容（請附訂單編號）
                        </label>
                        <p class="fs-7 text-neutral-700">0/250</p>
                      </div>
                      <button
                        type="button"
                        class="btn btn-secondary-500 text-neutral-0 fw-semibold w-100"
                      >
                        送出
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
